[user]
    name = Rafael
    email = info@rabu.me

[init]
    defaultBranch = main

## Comment out when keys are setup
#[url "git@github.com:"]
#    insteadOf = https://github.com/

## Activate when backing up on local NAS
# [safe]
#    directory = *

[credential]
    helper = store

[alias]
    fpd="!gitPruneBranch() { git fetch --prune && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done }; gitPruneBranch"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[diff "lockb"]
    textconv = bun
    binary = true

[commit]
    gpgsign = true

[gpg]
    program = gpg

[pull]
    rebase = false
    ff = only

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false 
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
